#wp-admin-bar-altis {
	width: 160px;
}

body.folded #wp-admin-bar-altis {
	width: auto;
}

#wp-admin-bar-altis .altis-logo-wrapper {
	display: block;
	height: auto;
	flex: 1;
}

#wp-admin-bar-altis .altis-logo-wrapper img {
	height: 20px;
	width: auto;
	margin: 4px 10px 0 3px;
	display: block;
}

#wpadminbar #wp-admin-bar-altis-logo .ab-item {
	padding-top: 2px;
	display: flex;
}

/* Hide WordPress version and update button from At a Glance dashboard widget. */
#dashboard_right_now #wp-version-message {
	display: none;
}
